GOOGLE_SHEET_ID=COLE_O_ID_DA_SUA_PLANILHA_AQUI
GOOGLE_CLIENT_EMAIL=service-account@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
JWT_SECRET=troque_essa_chave_por_uma_bem_segura
